@import "rsuite/dist/rsuite.css";
.mt-10{
    margin-top: 20px;
}

/* Header */
.center {
    width: 100%;
    padding-bottom: 1px;
}

.header {
    background-color: #000;
}

.box-shadow {
    box-shadow: 0 1px 1px #8c8c8c;
    padding: 0 0 1px 0;
    margin: auto;
}

.header_top {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding-right: 8vw;
    padding-left: 8vw;
    height: 38px;
    text-align: center;
    color: var(--white-color);
}

.header_top-left {
    display: flex;
    float: left;
    align-items: center;
    font-size: 13px;
}

.header_top-right {
    display: flex;
    float: right;
    padding: 10px;
    font-size: 13px;
    align-items: center;
}
/* .header_top-wishlise, */
.header_top-language,
.header_top-unit,
.header_top-hostline,
.header_top-hello,
.header_top-login,
.header_top-register {
    margin: 0 5px;
    cursor: pointer;
}

.header_top-register a,
.header_top-hello,
.header_top-admin,
.header_top-login a {
    /* padding: 0 5px 0 10px; */
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.header_top-register:hover a,
.header_top-hello:hover,
.header_top-admin:hover,
.header_top-login:hover a {
    color: #c5c5c5;
}

.header_down {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #ededed;
    z-index: 1;
}

.header_down-scroll {
    padding: 10px;
    display: flex;
    /* width: 1210px; */
    height: 50px;
    margin: 5px auto 5px;
    padding-right: 8vw;
    padding-left: 8vw;
}

.header_down-left {
    display: flex;
    float: left;
    align-items: center;
}

.header_down-logo {
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.header_down-logo a{
    text-decoration: none;
    display: flex;
}
.header_down-center {
    margin: -8px auto 0;
    align-items: center;
}

.header_down-menu {
    position: relative;
    list-style: none;
    margin: auto;
    font-weight: 500;
    align-items: center;
}

.header_down-menu-home,
.header_down-menu-pages,
.header_down-menu-products,
.header_down-menu-blog {
    margin: 10px 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}

.menu-ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-ul a {
    text-decoration: none;
}

.subnav {
    padding: 0;
    display: none;
    top: 40px;
    min-width: 140px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    text-align: start;
}

.subnav a {
    line-height: 1.6;
    color: #000;
    padding: 0px 10px;
    text-decoration: none;
}

/* .subnav li a{
    display: block;
    float: left;
} */

.subnav li {
    position: relative;
    padding: 10px;
    list-style: none;
}

li:hover .subnav {
    display: block;
}

.subnav>li:hover {
    background-color: #d8d8d8;
}

.header_down-right {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header_down-right-search,
.header_down-right-cart,
.header_down-right-order {
    /* display: flex; */
    align-items: center;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.header_down-right-cart a,
.header_down-right-order a{
    color: black;
    text-decoration: none;
}

.header_down-right-search{
    max-width: 20px;
    display: contents;
}

/* .search-bar {
    border-radius: 6px;
    padding: 10px;
    font-weight: 200;
    width: 180px;
    height: 30px;
    border: navajowhite;
}

.search-bar.active {
    display: block;
    margin: 10px 0 0 30px;
} */

.logo-img{
    width: 60px;
    height: 40px;
    align-items: center;
}

/* #search-button{
    font-size: 18px;
    margin: 0 18px 0 -24px;
} */