.manage-order{
    padding-top: 80px;
    justify-content: center;
    position: relative;
    margin: auto;
    text-align: center;

}
.manage-order-section{
    align-items: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

}

.manage-btn{
    padding: 1%;
}

.manage-order-table{
    display: flex;
    justify-content: center;
    align-items: center;
}
table.order-table{
    width: 90%;
    position: relative;
    z-index: 1;
}
.icon-container {
    transform: rotate(90deg);
  }

.detail{
    z-index: 2;
}
.order-detail{
    display: flex;
    position: absolute;
    z-index: 2;
    /* top: 0; */
    left: 30%;
}
.icon-close{
    color: rgb(54, 54, 54);
    font-size: large;
    /* margin-left: 80%; */
}

.icon-close:hover{
    color: black;
    font-size: large;
    cursor: pointer;
}
.control-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.btn-control-order {
  background-color: #ffffff;
  margin-bottom: 30px;
  z-index: 2;
}

.order-upload{
    z-index: 2;
    background-color: #eeeeee;
    width: 300px;
    height: 280px;
    padding-top: 50px;
}
.order-upload input,
.order-upload select {
  width: 220px;
  height: 41px;
  margin-top: 10px;
  margin-left: 10px;
}

.order-upload button{
  margin-top: 15px;
  margin-left: 10px;
}

.container-order-detail {
  background-color: #eeeeee;
  max-width: 21cm;
  padding: 1.5cm;
  z-index: 2;
}
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  p {
    color: #777;
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  table.order-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    background-color: #e1e1e1;
    align-items: center;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  /* Table header */

  .logo {
      width: 70px;
  }
  .fullTable {
    font-size: 14px;
    color: #252525;
    line-height: 18px;
    vertical-align: top;
    table-layout: fixed;
  }
  
  .fullPadding {
    font-size: 14px;
    color: #5b5b5b;
    line-height: 18px;
    vertical-align: top;
    text-align: left;
  }
  
  .hiddenMobile {
    display: none;
  }
  
  .visibleMobile {
    display: table-row;
  }
  
  .header-text-left {
    font-size: 14px;
    color: #5b5b5b;
    line-height: 18px;
    vertical-align: top;
    text-align: left;
  }
  
  .header-text-right {
    font-size: 18px;
    color: #000000;
    letter-spacing: -1px;
    line-height: 1;
    vertical-align: top;
    text-align: right;
  }





  /* Table Total */
  
  .total-table {
    font-size: 14px;
    color: #646a6e;
    line-height: 22px;
    vertical-align: top;
  }
  
  .subtotal {
    text-align: right;
  }
  
  .subtotal-value {
    text-align: right;
    white-space: nowrap;
  }
  
  .shipping {
    text-align: right;
  }
  
  .shipping-value {
    text-align: right;
  }
  
  .grand-total {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    vertical-align: top;
    text-align: right;
  }
  
  .grand-total-value {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    vertical-align: top;
    text-align: right;
  }
  
  .tax {
    font-size: 12px;
    color: #b0b0b0;
    line-height: 22px;
    vertical-align: top;
    text-align: right;
  }
  
  .tax-value {
    font-size: 12px;
    color: #b0b0b0;
    line-height: 22px;
    vertical-align: top;
    text-align: right;
  }
