form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

input,
textarea {
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
  width: 80%;
  cursor: text;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

label {
  margin-bottom: 8px;
  margin-right: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form-row-group > div {
  flex: 1;
  margin-right: 8px;
}

.form-row-group > div:last-child {
  margin-right: 0;
}

.form-row-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-row-group input {
  padding: 8px;
  border-radius: 4px;
}

.form-row-group input[type="number"] {
  width: 80%;
}

.form-row-group input[type="text"] {
  width: 80%;
}

.form-group{
  display: inline-block;
  width: 100%;
  height: 170px;
  max-height: 170px;
}

.form-group .imgupload{
  width: 120px;
  height: 130px;
  background-color: #bababa;
  display: block;
  float: left;

}
.form-group .imgupload1{
  display: flex;
  height: 150px;
  max-height: 150px;
}

ul.ulset{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 150px;
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
  margin-left: 16px;
}
li.ulset{
  display: flex;
  float: left;
  flex-direction: row;
}

.form-group img{
  width: 120px;
  height: 130px;
  border-radius: 8px; /* 8px */
}

.form-group img:hover{
  border: 1px solid black;
}

button.img-delete {
  position: relative;
  top: 0;
  right: 0;
  color: black;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: small;
  margin-left: 2px;
  margin-top: 2px;
}

.table-wrapper {
  display: inline;
}

.table-wrapper table {
  width: 80%;
  border-collapse: collapse;
}

.table-wrapper th {
  text-align: left;
  border-bottom: 3px solid #ddd;
}

th.color-column{
  width: 25%;
}

th.size-remaining-column{
  width: 40%;
}

.table-wrapper td {
  text-align: center;
  border: 1px solid #ddd;
  height: 155px;
  max-height: 155px;
}

.table-wrapper td.color-cell {
  width: 25%;
}

.table-wrapper td.color-cell input {
  width: 50%;
}

.table-wrapper td.size-remaining-cell {
  display: inline-flex;
  width: 100%;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-items: center;
}

.input-s-r{
  display:contents;
}

.table-wrapper td.size-remaining-cell input {
width: 30%;
margin-left: 8px;
margin-bottom: 5px;
text-align: center;
}

.table-wrapper td.size-remaining-cell button{
width: 15%;
height: 30px;
border: 1px solid black;
position: relative;
margin-left: 8px;
}


.table-wrapper td.td-set{
text-align: center;
/* display: inline-flex; */
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.table-wrapper .td-set button{
width: 30%;
height: 30px;
border: 1px solid black;
position: relative;
margin-left: 8px;
}

button:hover.td-set-add,
button:hover.set-add {
border: 2px solid #007bff;
color: #007bff;
cursor: cell;
}

button:hover.td-set-del,
button:hover.set-del,
button:hover.img-delete {
border: 2px solid red;
color: red;
cursor: auto;
}

button.submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 50px;
  border-radius: 15px;
}

button.submit-form:hover {
  background-color: #004792;
}
